---
import PrimaryLayout from '../layouts/PrimaryLayout.astro';
import FeaturedArticle from '../components/FeaturedArticle.astro';
import PopularArticles from '../components/PopularArticles.astro';
const title = 'FEM Blog with CMS';
---

<!--<PrimaryLayout title='homepage'>-->
<PrimaryLayout>
  <div class='three-columns section'>
    <FeaturedArticle class='span-2' />
    <div class='inverted'>
      <h2>New</h2>
      <article>
        <h3>Article 1</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda,
          delectus dignissimos distinctio iste sapiente sed sit voluptas!
          Asperiores, exercitationem soluta?
        </p>
      </article>
      <article>
        <h3>Article 2</h3>
        <p>
          Commodi debitis distinctio dolore eveniet in incidunt libero natus
          nostrum, pariatur tenetur? Beatae consequatur delectus dolor iste
          repudiandae saepe voluptates!
        </p>
      </article>
      <article>
        <h3>Article 3</h3>
        <p>
          Accusamus aliquam aspernatur consequuntur culpa, dolores expedita
          explicabo fugiat in ipsam, laborum modi nam natus odit porro quaerat
          quasi quos.
        </p>
      </article>
    </div>
  </div>
  <PopularArticles class='three-columns section' />
  <!-- three-cols -->
  <!-- Feature article -->
  <!-- New article -->
  <!-- three-cols -->
  <!-- popular articles -->
</PrimaryLayout>
