---
import PrimaryLayout from '../layouts/PrimaryLayout.astro';
const title = 'FEM Blog with CMS';
---

<!--<PrimaryLayout title='homepage'>-->
<PrimaryLayout>
  <h1>Hello there!</h1>
</PrimaryLayout>
