---
import PrimaryLayout from '../layouts/PrimaryLayout.astro';
import FeaturedArticle from '../components/FeaturedArticle.astro';
const title = 'FEM Blog with CMS';
---

<!--<PrimaryLayout title='homepage'>-->
<PrimaryLayout>
  <div class='three-columns'>
    <FeaturedArticle class='span-2' />
    <div class='inverted'>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure nam
        officia unde voluptate. Aperiam ipsa, maiores nesciunt quasi tempore
        voluptatem!
      </p>
    </div>
  </div>
  <!-- three-cols -->
  <!-- Feature article -->
  <!-- New article -->
  <!-- three-cols -->
  <!-- popular articles -->
</PrimaryLayout>
