---
import PrimaryLayout from '../layouts/PrimaryLayout.astro';
const title = 'FEM Blog with CMS';
---

<!--<PrimaryLayout title='homepage'>-->
<PrimaryLayout>
  <h1>Hello world</h1>
  <!-- Header -->
  <!-- three-cols -->
  <!-- Feature article -->
  <!-- New article -->
  <!-- three-cols -->
  <!-- popular articles -->
</PrimaryLayout>
