---
const { class: className } = Astro.props;
---

<ul role='list' class:list={className}>
  <li>
    <article>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
        aperiam debitis eum facere id, labore magni necessitatibus nemo officia
        voluptatum!
      </p>
    </article>
  </li>
  <li>
    <article>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
        aperiam debitis eum facere id, labore magni necessitatibus nemo officia
        voluptatum!
      </p>
    </article>
  </li>
  <li>
    <article>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
        aperiam debitis eum facere id, labore magni necessitatibus nemo officia
        voluptatum!
      </p>
    </article>
  </li>
</ul>
